<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Ứng dụng đọc truyện trên smartphone iOS và Android, giao diện thân thiện, hỗ trợ tải về đọc offline!</h1>
            <h2>If you need support, please send us an email: support@webtruyen.org </h2>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="img/demo-home.png" class="img-responsive" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="download" class="download bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Hỗ trợ smartphone/tablet chạy Android và iOS!</h2>
        <p>Chọn chợ ứng dụng!</p>
        <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="https://itunes.apple.com/vn/app/truy%E1%BB%87n-ki%E1%BA%BFm-hi%E1%BB%87p-doc-truyen-online-ofline/id1141934667?l=vi&mt=8"><img src="img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; 2016 Doc Truyen Team. All Rights Reserved.</p>
    <ul class="list-inline">
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>
